# Environment variables
.env

# Binary files
bin/
storage/

# IDE files
.idea/
.vscode/

# Logs
*.log

# Dependencies
vendor/

# Temporary files
tmp/
*.tmp

# Database files
*.db
*.sqlite

# macOS files
.DS_Store

# Test coverage
coverage.out 